.heading {
  position: center;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 0.5rem;
  width: 100%;
}

.button {
  background: transparent;
  border: none;
  font-family: "Press Start 2P", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  padding: 20px;
  vertical-align: top;
  margin: 4px 10px 4px 10px;
}

.button:hover {
  border: solid;
}

button:active {
  box-shadow: 0 0 0 white;
  margin: 6px 10px 1px 10px;
}
