.button {
  background: transparent;
  border: 3px solid transparent;
  font-family: "Press Start 2P", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  padding: 20px;
  vertical-align: top;
  margin: 4px 10px 4px 10px;
}

.button:hover {
  border: 4px solid black;
  margin: 6px 10px 0px 10px;
}

button:active {
  box-shadow: 0 0 0 white;
  margin: 6px 10px 1px 10px;
}
